# ==============================================================================
# Entorno Local: Variables de Configuración para Docker Compose
# ==============================================================================

# RabbitMQ Message Broker
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Kong API Gateway
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

# Microservicios (Puertos de Acceso Directo de Desarrollo)
FASTAPI_DEV_PORT=8002
GO_DEV_PORT=8080
FRONTEND_PORT=5173
LEGACY_DEV_PORT=8003
